@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Northern Caribbean University<br />
    Manchester Road<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<div class="uk-card uk-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2338.9860448648546!2d-77.49922965251645!3d18.015445190254017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8edb958bc2e9e2d9%3A0xf2dcaf968252d61!2sCedar%20Hall%2C%20Mandeville!5e0!3m2!1sen!2sjm!4v1587271942049!5m2!1sen!2sjm" 
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>